################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarsInventory/bin
/CarsInventory/obj/debug
