################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarsInventory/bin
/.vs/CarsInventory/v16/Server/sqlite3
/.vs/CarsInventory/v16/.suo
